<a href="{{ url }}" data-pid="{{ current_variant_id }}" class="js_quick_view button-quick-view"
   data-js-popup-button="quick-view"  
   {%- if settings.tooltips_enable %}
                         data-js-tooltip
   data-tippy-content="{{ 'products.product.tooltip.quick_view' | t }}"
   data-tippy-placement="top"
   data-tippy-distance="10"  
   {%- endif -%}
   >

  <i class="laber-icon icon-search"></i>  
  <i aria-hidden="true" class="laber-loading fa fa-spinner fa-spin fa-3x fa-fw"></i>	
  <span class="text">{{ 'products.grid_items.quick_view' | t }}</span>
</a>