<section class="social-profile-main">
    <div class="{{ section.settings.layout }}">
        {% include 'social-sharing' %}
    </div>
</section>


{% schema %}
  {
    "name": "Social Profile",
    "class": "socilal-profile",
    "settings": [
        {
            "type": "select",
            "id": "layout",
            "default": "container",
            "options": [
            {
            "value": "container",
            "label": "Container"
            },
            {
            "value": "full-width",
            "label": "Full Width"
            }
            ],
            "label": "Layout"
        }
    ]
  }
{% endschema %}