.header-bottom .vertical_menu{
  width:275px;
  position:relative;
}
.vertical_menu .list-vertical_menu .lazy_vertical_menu {
    padding: 0;
    margin: 0;
}
.vertical_menu h4.flex{
  margin: 0;
  line-height: 16px;
  align-items: center;
  cursor: pointer;
}
.vertical_menu .title{
  font-size: 14px;
  color: var(--color-btn);
  text-transform: uppercase;
  font-weight: 600;
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-width: 100%;
  line-height: 55px;
  margin: 0
}
.vertical_menu .title:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  height: 55px;
  background: #fff;
}
.vertical_menu .title:after {
    display: inline-block;
    font-family: ElegantIcons;
    content: "\33";
    position: relative;
    margin-left: 5px;
    font-size: 16px;
    line-height: 48px;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
}
.vertical_menu h4.flex i {
    background: #000;
    width: 13px;
    height: 2px;
    margin: 26px 55px 0 17px;
    position: relative;
    display: inline-block;
}
.vertical_menu h4.flex i:before {
    content: "";
    position: absolute;
    background: #000;
    width: 29px;
    height: 2px;
    top: -6px;
}
.vertical_menu h4.flex i:after {
    content: "";
    position: absolute;
    background: #000;
    width: 22px;
    height: 2px;
    bottom: -6px;
}
.vertical_menu .icon-left{
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: auto;
  max-width: 100%;
  font-size: 40px;
  color: #343e45;
  margin-right: 20px;
}
.vertical_menu .icon-right{
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: auto;
  max-width: 100%;
  font-size: 16px;
  margin-left: 20px;
}

.vertical_menu .list-vertical_menu {
  position: absolute;
  top: calc(100% + 30px);
  left: 0;
  border: 1px solid #e3e3e3;
  background: #fff;
  z-index: 9;
  padding: 0;
  transition: all .3s ease;
  margin-top: 10px;
  pointer-events: none;
  clip: rect(1px,1px,1px,1px);
  width: 100%;
  min-height: 10px;
}

.vertical_menu .list-vertical_menu.active{
  top: 100%;
  pointer-events: initial;
  clip: inherit;
}

.template-index .header.layout2 .vertical_menu .list-vertical_menu,
.template-index .header.layout7 .vertical_menu .list-vertical_menu,
.template-index .header.layout8 .vertical_menu .list-vertical_menu{
  pointer-events: initial;
  clip: inherit;
  top: 100%
}

.vertical_menu .list-vertical_menu>ul>li {
  border-bottom: 1px solid #e3e3e3;
}
.vertical_menu .list-vertical_menu ul>li:last-child {
    border-bottom: 0;
}
.vertical_menu .list-vertical_menu>ul>li>a {
    padding: 0 20px;
}
.vertical_menu .list-vertical_menu ul>li>a{
  line-height: 47px;
  align-items: center;
  font-size: 14px;
  font-weight: 500;
  color: #a3a3a3;
  display: flex;
}
.vertical_menu .list-vertical_menu>ul>li>a:before {
  width: 1px;
  height: 100%;
  background: #ff6f00;
  opacity: 0;
  visibility: hidden;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
}
.vertical_menu .list-vertical_menu ul>li>a:hover:before {
  opacity: 1;
  visibility: visible;
}
.vertical_menu .list-vertical_menu ul>li.js-all-cat a{
      font-weight: 500;
    color: #343e45;
}
.vertical_menu .list-vertical_menu ul li a:hover{
  color:#ff6f00;
}
.vertical_menu .list-vertical_menu ul li a .icon{
    font-size: 24px;
    margin-right: 5px;
}
.vertical_menu .list-vertical_menu ul li a .icon_right {
    position: absolute;
    right: 15px;
}
.vertical_menu .list-vertical_menu ul>li.js-all-cat.less span.show-all,
.vertical_menu .list-vertical_menu ul>li.js-all-cat span.show-less{
	display:none;
}
.vertical_menu .list-vertical_menu ul>li.js-all-cat span.show-all,
.vertical_menu .list-vertical_menu ul>li.js-all-cat.less span.show-less{display:block;}
/*vertical menu sub*/

.vertical_menu .list-vertical_menu .subverticalmenu {
  position: absolute;
  top: 0;
  left: calc(100% + 30px);
  background: #fff;
  box-shadow: 0 3px 10px #00000026;
  padding: 0 30px;
  visibility: hidden;
  display: block;
  opacity: 0;
  transition: opacity .5s ease 0s,transform .5s ease 0s;
  -moz-transition: opacity .5s ease 0s,-moz-transform .5s ease 0s;
  -webkit-transition: opacity .5s ease 0s,-webkit-transform .5s ease 0s;
  -ms-transition: opacity .5s ease 0s,-ms-transform .5s ease 0s;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}
.vertical_menu .list-vertical_menu ul>li.menu_item_hover .subverticalmenu, 
.vertical_menu .list-vertical_menu ul>li:hover .subverticalmenu {
  opacity: 1;
  filter: alpha(opacity=100);
  left: calc(100% + 10px);
  visibility: visible;
}
.vertical_menu .list-vertical_menu .type_mega .subverticalmenu {
  height: 100%;
  height: auto;
  overflow: scroll;
  overflow-x: hidden;
}
.vertical_menu .list-vertical_menu .subverticalmenu .row>.menu-item {
  padding: 30px;
  border-right: 1px solid #dddddd;
}
.vertical_menu .list-vertical_menu .subverticalmenu .menu-item-has-children{position:relative;}
.vertical_menu .list-vertical_menu .subverticalmenu::-webkit-scrollbar{
  width: 2px;
}

.vertical_menu .list-vertical_menu .subverticalmenu::-webkit-scrollbar-track{
  background-color: #fff;
}
.vertical_menu .list-vertical_menu .subverticalmenu::-webkit-scrollbar-thumb{
  background-color: #222;
}
.vertical_menu .list-vertical_menu li.type_dropdown{
	position:relative;
}
.vertical_menu .list-vertical_menu li.type_dropdown .subverticalmenu{
    width: 255px;
    padding: 20px;
}
.vertical_menu .list-vertical_menu li.type_dropdown .subverticalmenu a{
  line-height:35px;
  align-items: center;
  font-size:16px;
  color:#777777;
}
.vertical_menu .list-vertical_menu li.type_dropdown .subverticalmenu .submenu{
  left: 100%;
  top:0;
  width: 250px;
}
.vertical_menu .list-vertical_menu ul>li.menu_item_hover .subverticalmenu,
.vertical_menu .list-vertical_menu ul>li:hover .subverticalmenu {
opacity: 1;
filter: alpha(opacity=100);
transform: translate(0,0);
-webkit-transform: translate(0,0);
-moz-transform: translate(0,0);
-o-transform: translate(0,0);
-ms-transform: translate(0,0);
visibility: visible;
}

.header .menu-item-has-children:hover > .submenu {
    visibility: visible;
    opacity: 1;
    top: 100%;
    clip: inherit;
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
}
.vertical_menu .list-vertical_menu .subverticalmenu .row{
	align-items: flex-start;
}

.vertical_menu .list-vertical_menu .subverticalmenu .menu-item .heading {
  font-size: 15px;
  color: #ff6f00;
  font-weight: 600;
  line-height: 1;
  margin-bottom: 20px;
  display: block;
  padding-bottom: 10px;
  position: relative;
}
.vertical_menu .list-vertical_menu .subverticalmenu .menu-item ul.sub-column{
  padding:0;
  margin:0;
}
.vertical_menu .list-vertical_menu .subverticalmenu .menu-item ul.sub-column li{
  padding:0;
}
.vertical_menu .list-vertical_menu .subverticalmenu .row>.menu-item:last-child {
  border-right: 0;
}
.vertical_menu .list-vertical_menu .subverticalmenu .row {
  align-items: flex-start;
  margin-left: -30px;
  margin-right: -30px;
}
.vertical_menu .list-vertical_menu .subverticalmenu .menu-item ul.sub-column li a {
  font-size: 15px;
  font-weight: 400;
  line-height: 32px;
  color: #a3a3a3;
}
.vertical_menu .list-vertical_menu .subverticalmenu .menu-item ul.sub-column li a:hover{
	color:#1a73e8;
}

.vertical_menu .list-vertical_menu .subverticalmenu .menu-item .cat_grid_item{

}
.vertical_menu .list-vertical_menu .subverticalmenu .menu-item .cat_grid_item .cat_grid_item__content{
	position:relative;
}
.vertical_menu .list-vertical_menu .subverticalmenu .menu-item .cat_grid_item .cat_grid_item__link{
  overflow: hidden;
  display: block;
}
.vertical_menu .list-vertical_menu .subverticalmenu .menu-item .cat_grid_item  .item__position{
	
}
.vertical_menu .list-vertical_menu .subverticalmenu .menu-item .laber_content_html,
.vertical_menu .list-vertical_menu .subverticalmenu .menu-item .cat_grid_item__wrapper{
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  text-align: center;
  -webkit-transform: translate(0,-50%);
  -moz-transform: translate(0,-50%);
  -o-transform: translate(0,-50%);
  -ms-transform: translate(0,-50%);
  transform: translate(0,-50%);
}
.vertical_menu .list-vertical_menu .subverticalmenu .menu-item .laber_content_html a,
.vertical_menu .list-vertical_menu .subverticalmenu .menu-item .cat_grid_item__title a{
  background: #fff;
  line-height: 50px;
  padding: 0 25px;
  display: inline-flex;
  border-radius: 3px;
  font-weight: 500;
  font-size: 16px;
  color: #343e45;
}
.vertical_menu .list-vertical_menu .subverticalmenu .menu-item .laber_content_html a:hover,
.vertical_menu .list-vertical_menu .subverticalmenu .menu-item .cat_grid_item__title a:hover{
  background-color:#1a73e8;
  color:#fff;
}
.vertical_menu .list-vertical_menu .subverticalmenu .menu-item .cat_grid_item__count{
  margin-left: 5px;
  font-weight: 500;
}

/* layout4  */

.layout4 .header-bottom .vertical_menu{
	width:330px;
}
.layout4  .vertical_menu .list-vertical_menu{
  display:block;
  
}
.subpage  .layout4  .vertical_menu .list-vertical_menu{
	display:none;
}

.layout4 .vertical_menu .list-vertical_menu ul>li>a{
	line-height:39px;
}

@media only screen and (min-width : 1230px) and (max-width : 1409px){
  .layout4 .header-bottom .vertical_menu {
    width: 281px;
  }
  .layout4 .vertical_menu .list-vertical_menu ul>li{
  		padding:0 15px;
  }
  .layout4 .vertical_menu .list-vertical_menu ul>li>a{
    line-height: 33px;
  }
}
@media only screen and (min-width : 1200px) and (max-width : 1229px){
  .layout4 .header-bottom .vertical_menu {
    width: 275px;
  }
  .layout4 .vertical_menu .list-vertical_menu ul>li{
  		padding:0 15px;
  }
  .layout4 .vertical_menu .list-vertical_menu ul>li>a{
    line-height: 32px;
  }
}



/* layout5  */
.layout5 .header-bottom .vertical_menu{
	width:330px;
}
.layout5 .vertical_menu h4.title_vertical_menu{
	padding:0 20px;
  	border-radius:3px;
}
.layout5  .vertical_menu .list-vertical_menu{
  width: auto;
}
.layout5  .vertical_menu .list-vertical_menu ul>li{
	padding: 0 30px;
}
.layout5 .vertical_menu .list-vertical_menu ul>li>a{
	line-height:39px;
}
@media only screen and (max-width: 1479px) {
  .vertical_menu .list-vertical_menu ul>li>a {
  	line-height: 37px;
  }

  .template-index .header.layout7 .vertical_menu .list-vertical_menu{
    opacity: 0;
    visibility: hidden;
    top: calc(100% + 30px);
  }

  .template-index .header.layout7 .vertical_menu .list-vertical_menu.active{
    opacity: 1;
    visibility: visible;
    top: 100%;
  }
}
@media only screen and (max-width: 1199px) {
  .vertical_menu .list-vertical_menu,
  .header-bottom .vertical_menu {
  	width: 240px;
  }
}
/* ipad pro */
@media only screen and (min-width : 992px) and (max-width : 1199px){
  .layout5 .header-bottom .vertical_menu{width: 275px;}	
}


@media only screen and (max-width: 1024px){
  .header-bottom .vertical_menu{display:none;}
}
